@font-face {
  font-family: "Iqos-Regular";
  src: url("../assets/fonts/IQOS-Regular.ttf");
}
* {
  font-family: "Iqos-Regular";
}
.main {
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-around;
  position: relative;
  width: max-content;
  margin: 0 auto;
  overflow: hidden;
  //   background-color: #fafafa;
  padding-inline: 5px;
  box-shadow: 0 4px 12px 0 rgba(65, 65, 65, 0.226);
  background-color: rgb(53, 47, 61);
  
}
.loading,
.loaded {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  z-index: 9;
  color: rgb(0, 210, 211);
  font-size: 24px;
  font-weight: bold;
  transition: all 2s ease-in-out;
  transition-delay: 2s;
}
.loaded {
  top: -200%;
}

.background, .background2 {
  // padding-top: 5vh;
  height: 48vh;
  margin-top: 0.9vh;
  aspect-ratio: 2199 / 1226;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // position: absolute;
}
 .background2{
  margin-bottom: 0.9vh;
 }
.iqosOld,
.iqosOldFade {
  position: absolute;
  bottom: 53%;
  left: 14%;
  // transform: translate(-50%, -50%);
  // width: 24%;
  //   height: 100%;
  height: 41%;
  transition: all 0.5s;
}
.iqosOldFade {
  opacity: 0;
}
.iqosMedium,
.iqosMediumUp,
.iqosMediumFade {
  position: absolute;
  bottom: 2%;
  left: calc(14% + 1px);
  // transform: translate(-50%, -50%);
  // width: calc(28% - 0px);
  //   height: 100%;
  //  opacity: 0.5;
  height: calc(42% - 2px);

  transition: all 1s;
  // display: none;
 
}
.iqosMediumUp {
  animation: iqosUp 2s ease-out 0s 1 normal forwards;
}
.iqosMediumFade {
  opacity: 0;
  bottom: 56%;
}
.iqosNew,
.iqosNewUp {
  position: absolute;
  bottom: calc(3% - 2px);
  left: calc(17% - 2px);
  // transform: translate(-50%, -50%);
  height: 41%;
  //   height: 100%;
  transition: all 0.5s;
  // opacity: 0.7;
  // animation-name: iqosUp;
  // animation-duration: 1s;
  // animation-timing-function: ease-in-out;
  // background-color: #fff;

  //   filter: drop-shadow(0 0 0.5rem rgba(218, 37, 37, 0.863));
}
.iqosNewUp {
  // animation: iqosUp 0.5s ease-in-out;
  // animation-iteration-count: 1;
  animation: iqosUp 2s 0s 1 normal forwards;
  // transition: iqosUp 0.5s;
  // display: block;
}

@keyframes iqosUp {
  //  from { transform: rotate(0deg) translateY(0px) rotate(0deg); }
  //  to   { transform: rotate(90deg) translateX(-190%) rotate(-90deg); }
  // 0% {
  //   // bottom: 6%;
  //   // transform: scale(1);
  //   // z-index: 3;

  //   // opacity: 0;
  // }
  // 25% {
  //   // top: 50%;
  //   // transform: scale(1.3);
  //   // opacity: 1;
  // }
  // 50% {
  //   // top: 42%;
  //   // transform: scale(1.1);
  //   // opacity: 1;
    
  //   transform: translateX(-100px);
  // }
  // 75% {
  //   // bottom: 60%;
  //   // transform: scale(1.1);
  //   // z-index: 3;
  //   // opacity: 1;
  // }
  // // 99% {
  // //   top: 0%;
  // // //   transform: scale(0.7);
  // //   // opacity: 1;
  // // }

    100% {
     bottom: 53%;
  //   // z-index: 1;
  //   // left: 50%;
  //   // opacity: 0.6;
   }
}
.button, .buttonUp, .buttonZoom {
  position: absolute;
    width: calc(4% - 1px);
  // bottom: calc(23% - 2px);
  left: calc(20% - 0px);
  // z-index: 10;
  transition: top 1s ease-out 1s;
  z-index: 1;
      //  display: none;
}
.buttonZoom {
  // transform: scale(2.5);
  animation: buttonUp 2s ease-out 0s 1 normal forwards;
  // transition: top 10s ease-out 1s;


}
.buttonUp {
  // position: absolute;
  // width: calc(3% + 0px);
  // bottom: calc(73% - 3px);
  // left: calc(21% - 1px);
    z-index: 1;

  // transition: all 4s ease-out;
  // animation: buttonUp 3s ease-out 0s 1 normal forwards;


}
@keyframes buttonUp {
  0% {
  // bottom: calc(23% - 2px);
  transform: scale(1);


  }
  // 1% {
  //   transform: scale(2.5);
    

  // }
  // 10% {
  // bottom: calc(23% - 2px);

  //   transform: scale(2.5);

  // }
  33% {
  // bottom: calc(23% - 2px);

    transform: scale(2.5);
  }
  88% {
    transform: scale(2.5);

  }
  100% {
  // bottom: calc(73% - 3px);
  transform: scale(1);


  }
}
.kitOld,
.kitOldFade {
  position: absolute;
  bottom: 54%;
  left: 30%;
  width: 27%;
  //   height: 100%;
  transition: all 1s;
  z-index: 2;
  opacity: 1;
}
.kitOldFade {
  opacity: 0;
}
.kitNew,
.kitNewUp {
  position: absolute;
  bottom: 3%;
  left: 27%;
  //   transform: translate(-50%, -50%);
  width: 25%;
  //   height: 100%;
  transition: all 1s;
  // transform-origin: center;
  z-index: 2;
}
.kitNewUp {
  animation: kitUp 2s ease-out 0s 1 normal forwards;
}
@keyframes kitUp {
  0% {
    bottom: 8%;
    // transform: scale(1);
    z-index: 2;
    // opacity: 0;
  }
  25% {
    // top: 50%;
    // transform: scale(1.3);
    // opacity: 1;
  }
  50% {
    // top: 42%;
    transform: scale(1.1);
    // opacity: 1;
  }
  // 75% {
  //   top: 13%;
  //   // transform: scale(1.1);
  //   z-index: 2;
  //   // opacity: 1;
  // }
  // 99% {
  //   top: 0%;
  // //   transform: scale(0.7);
  //   // opacity: 1;
  // }

  100% {
    bottom: 54%;
    // z-index: 1;
    // transform: scale(1);
    // left: 50%;
    // opacity: 0.6;
  }
}
.nameOld,
.nameOldFade {
  position: absolute;
  top: 24%;
  left: 56%;
  //   transform: translate(-50%, -50%);
  width: 38%;
  //   height: 100%;
  transition: all 1s 1s;
  transform-origin: center;
  //   transform-origin: 50% 60%;
}
.nameOldFade {
  opacity: 0;
}
.nameNew,
.nameNewUp {
  position: absolute;
  top: 72%;
  left: 56%;
  width: 38%;
  //   height: 100%;
  transition: all 1s;
  // z-index: 2;
  // opacity: 0;
}
.nameNewUp {
  animation: nameUp 2s ease-out 0s 1 normal forwards;
}

@keyframes nameUp {
  0% {
    top: 72%;
    // transform: scale(1);
    z-index: 2;
    // opacity: 0;
  }
  // 25% {
  //   // top: 50%;
  //   // transform: scale(1.3);
  //   // opacity: 1;
  // }
  50% {
    // top: 42%;
    transform: scale(1.1);
    // opacity: 1;
  }
  // 75% {
  //   top: 23%;
  //   // transform: scale(1.2);
  //   z-index: 2;
  //   // opacity: 1;
  // }
  // 99% {
  //   top: 0%;
  // //   transform: scale(0.7);
  //   // opacity: 1;
  // }

  100% {
    top: 21%;
    z-index: 1;
    // transform: scale(1);
    // left: 50%;
    // opacity: 0.6;
  }
}

.eclipse {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  width: 32%;
  // height: 40%;
   aspect-ratio: 1;
  background-color: rgb(53, 47, 61);
  border-radius: 50%;
  outline: none;
  border: none;
  padding: 0;
  //  display: flex;
  // align-items: center;
  //   justify-content: flex-start;
  div {
    position: relative;
    width: 50%;
    height: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }
  p {
     position: absolute;
     left: 57%;
     top: 47%;
     transform: translate(-50%,-50%);
    font-size: 14vh;
    color: #fff;
    font-weight: 100;
    //  line-height: 10vw;
    // margin-left: 4rem;
    margin-block: 0;
    // vertical-align: middle;
    user-select: none;
  }
}
.btn1 {
  position: absolute;
  bottom: 37%;
  left: calc(9% + 1px);
  // transform: translate(-50%, -50%);
  width: 20%;
  height: 15%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
  transition: all 2s ease-out 1s;
  // border-radius: 50%;
  // // display: flex;
  // align-items: center;
  // justify-content: center;
  // cursor: pointer;
  // transition: all 0.5s;
  // z-index: 399;
  // opacity: 0;
}
.btn2 {
  position: absolute;
  bottom: 21%;
  left: calc(20% - 3px);
  // transform: translate(-50%, -50%);
  width: 5%;
  height: 4%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 10;
  // border-radius: 50%;
  // // display: flex;
  // align-items: center;
  // justify-content: center;
  // cursor: pointer;
  // transition: all 0.5s;
  // z-index: 399;
  // opacity: 0;
}
.btn3 {
  position: absolute;
  bottom: 0%;
  left: calc(10% - 5px);
  // transform: translate(-50%, -50%);
  width: 80%;
  height: 100%;
  background-color: rgba(78, 16, 16, 0);
  z-index: 10;
  // border-radius: 50%;
  // // display: flex;
  // align-items: center;
  // justify-content: center;
  // cursor: pointer;
  // transition: all 0.5s;
  // z-index: 399;
  // opacity: 0;
}
.btn4 {
  position: absolute;
  top: 58%;
  left: calc(20% - 3px);
  // transform: translate(-50%, -50%);
  width: 20%;
  height: 36%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 10;
  // border-radius: 50%;
  // // display: flex;
  // align-items: center;
  // justify-content: center;
  // cursor: pointer;
  // transition: all 0.5s;
  // z-index: 399;
  // opacity: 0;
}
.btn5 {
  position: absolute;
  bottom: 56%;
  left: calc(41% + 0px);
  // transform: translate(-50%, -50%);
  width: 6%;
  height: 20%;
  background-color: rgba(49, 6, 6, 0);
  z-index: 10;
  // border-radius: 50%;
  // // display: flex;
  // align-items: center;
  // justify-content: center;
  // cursor: pointer;
  // transition: all 0.5s;
  // z-index: 399;
  // opacity: 0;
}
.btn6 {
  position: absolute;
  bottom: 55%;
  left: calc(34% - 3px);
  // transform: translate(-50%, -50%);
  width: 20%;
  height: 8%;
  background-color: rgba(52, 38, 134, 0);
  z-index: 10;
  // border-radius: 50%;
  // // display: flex;
  // align-items: center;
  // justify-content: center;
  // cursor: pointer;
  // transition: all 0.5s;
  // z-index: 399;
  // opacity: 0;
}
.btn7 {
  position: absolute;
  bottom: 3%;
  left: calc(44% - 2px);
  // transform: translate(-50%, -50%);
  width: 7%;
  height: 35%;
  background-color: rgba(49, 6, 6, 0);
  z-index: 10;
}
.btn8 {
  position: absolute;
  bottom: 4%;
  left: calc(28% - 3px);
  // transform: translate(-50%, -50%);
  width: 18%;
  height: 7%;
  background-color: rgba(49, 6, 6, 0);
  z-index: 10;
}

.modalActive,
.modalDone,
.exitActive,
.exitDone {
  position: absolute;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.281);
  width: 100%;
  height: 100%;
}
.cont {
  // position: absolute;
  display: block;
}

@media (orientation: portrait) {
  .main {
    padding: 0;
  }
  .background, .background2 {
    width: 100vw;
     height: auto;
  }
  .eclipse {
    p {
    font-size: 14vw;

    }
  }
  // .iqosOld,
  // .iqosmedium {
  //   width: 20vh;
  // }
  // .iqosNew {
  //   width: 14vh;
  // }
  // .kitOld {
  //   width: 17vh;
  // }
  // .kitNew {
  //   width: 16vh;
  // }
  // .nameOld,
  // .nameNew {
  //   width: 30vw;
  //   left: 60%;
  // }
  //  .eclipse {
  //    width: 30vh;
  //    height: 30vh;
  // //   p {
  // //     font-size: 10.5vh;
  // //     margin-left: 2rem;
  // //   }
  //  }
}
