@font-face {
  font-family: "Iqos-Light";
  src: url("../assets/fonts/IQOS-Light.ttf");
}
* {
  box-sizing: border-box;
}
.modal {
  position: absolute;
  z-index: 3;
  background-color: rgba(126, 126, 126, 0.67);

  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset -2px 2px 6px hsla(0, 0%, 0%, 0.363),
            inset 2px -2px 6px hsla(0, 16%, 9%, 0.466);
}
.enter {
  opacity: 0;
  // transform: scale(0.6);
}
.enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 900ms, transform 900ms;
}
.enter-done {
  opacity: 1;
  transform: translateX(0);
}
.exit {
  opacity: 1;
}
.exit-active {
  opacity: 0;
  // transform: scale(0.5);
  transition: opacity 300ms, transform 300ms;
}
.modalContent {
  width: max(46%, 300px);

  background-color: rgb(53, 47, 61);
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}
.modalContent2 {
  // min-width: 300px;
  // max-width: 40%;
  width: max(40%, 300px);
  background-color: rgb(0, 210, 211);
  border-radius: 20px;
  text-align: center;
}
.modalHeader {
  color: rgb(0, 210, 211);
  text-align: center;
  h1 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
}
}
.modalHeader2 {
  color: rgb(255, 255, 255);
  text-align: center;
  filter: drop-shadow(0 0 0.1rem rgba(37, 55, 218, 0.377));
}
.modalBody {
  color: rgb(255, 253, 251);
  text-align: center;
  font-family: "Iqos-Light";
  font-weight: 100;
  span {
    font-weight: 600;
  }
  img {
    width: 30%;
  }
}
.modalBody2 {
  color: rgb(53, 47, 61);
  text-align: center;
  font-weight: 600;
  span {
    font-weight: 900;
  }
}
.modalBtn {
  // width: 100%;
  background-color: rgb(0, 210, 211);
  border-radius: 5px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  padding-inline: 1rem;
  cursor: pointer;
  margin: 35px;
   margin-top: 10px;
  padding-inline: 50px;
  padding-block: 5px;
}
.modalBtn2 {
  // width: 100%;
  background-color: rgb(53, 47, 61);
  border-radius: 10px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
  padding-inline: 1rem;
  cursor: pointer;
  margin: 22px;
}
